:root {
    /* Modo escuro*/
    --var-cor-primaria: #cb1c1c;


    /* --var-cor-primaria: #731ccb; */
    --var-cor-secundaria: #171010;
    --var-cor-terciaria: #ffff;

    /* Modo Claro*/
    /*
      --var-cor-secundaria: #c6b9f6;
      --var-cor-terciaria: #171010; */
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 400;
    font-style: normal; */

}

a, li {
    all: unset;
    color: var(--var-cor-terciaria);
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--var-cor-secundaria);
    color: #171010;
    /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
    height: 100vh;
    overflow-y: scroll;

}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--var-cor-secundaria);
    color: var(--var-cor-primaria);
    width: 100%;
    height: 3%;
}

nav #sec_login_register {
    display: flex;
    align-items: end;
    justify-content: start;
    width: 100%;
    height: 100%;
    margin: 40px;
    font-weight: 900;
    gap: 10px;
    
}

nav #sec_login_register p {
    cursor: pointer;
}

main {

    color: var(--var-cor-terciaria);

}


main #sec_banner {
    border: var(--var-cor-secundaria) 10px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--var-cor-secundaria);
    height: 90%;
}

main .div_borda {
    border: solid var(--var-cor-secundaria) 5px;
    border-radius: 15px;
    background-color: var(--var-cor-primaria);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .div_borda img {
    width: 40%;
}

main .div_btn_flut {
    position: relative;
    color: var(--var-cor-primaria);
    bottom: 100px;
    height: 150px;
    width: 150px;
    background-color: var(--var-cor-secundaria);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px var(--var-cor-primaria);

}

main #sec_sobre {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding: 5px 20px 0 0;
    text-align: justify;
}

main p {
    padding: 30px 30px 10px 30px;
}

main #sec_sobre .div_img {
    width: 5000px;
    margin: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #sec_sobre .div_img  img{
    width: 60%;
    margin: 0 40px;
}

main #sec_contato{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.animation {

    animation: animation 5s ease-in-out infinite;

}

@keyframes animation {

    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(-10px);
    }

}