:root{
   /* Modo escuro*/
  /* --var-cor-primaria: #cb1c1c;
  /* --var-cor-primaria: #731ccb; */
  /* --var-cor-secundaria: #171010;
  --var-cor-terciaria: #ffff;

      /* Modo Claro*/
      --var-cor-primaria: #731ccb;
      --var-cor-secundaria: #c6b9f6;
      --var-cor-terciaria: #171010;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;

}

a{
  all: unset;
}


body{
  background-color: var(--var-cor-primaria);
  color: #171010;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
  
}


main{

  height: 99vh;
  width: 59vw;


  background-color: var(--var-cor-secundaria);
  border-radius: 15px;
  
  
  /* background-color: #171010; */
}

nav{
  /* background-color: var(--var-cor-secundaria); */
  color: var(--var-cor-primaria);
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 10vw;;
  width: 19vw;
  height: 99vh;
  margin: 2px;
  position: fixed;
  left: 0;
}

.div_nav_topo{
  display: flex;
  height: auto;
  width: 100%;

}

.div_perfil1_nav_topo{
  background: var(--var-cor-secundaria);
  content: '';
  width: 99px;
  height: 100px;
  /* clip-path: path("M 0,75 A 5,5 0,0,1 5,70 A 5,5 0,0,0 70,5 A 5,5 0 0,1 70,0 L 100,0 L 100,100 L 0,100 L 0,70 Z"); */
  clip-path: path("M 0,75 A 5,5 0,0,1 5,70 A 5,5 0,0,0 70,5 A 5,5 0,0,1 70,0 L 100,0 L 100,100 L 0,100 L 0,70 Z");


}

.div_perfil2_nav_topo{
  background: var(--var-cor-secundaria);
  content: '';
  flex-grow: 1;
  height: 100px;
  border-radius: 0 15px 0 0;
}


nav #sect_perfil_nav{

  width: 100%;
}


#img_perfil_nav {
  min-width: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  padding: 4px;
}

.div_nav{
  background: var(--var-cor-secundaria);
  height: 100%;
  width: 100%;
  border-radius: 0 0 15px 15px;
}


.nome_user{
  padding: 0 0 0 5px;
  height: 15%;
  color: var(--var-cor-terciaria);
  background: var(--var-cor-secundaria);
}

.nome_user p{

  opacity: 60%;
  font-weight: 500;

}


#lista_nav{
  padding: 20px 0 20px 0;
  height: 50%;
  width: 100%;
}

#lista_nav li{
  height: 50px;
  display: flex;
  align-items: center;
}

#lista_nav .icone_lista{
  width: 30px;
  height: 30px;
  margin: 10px;
  color: var(--var-cor-terciaria);
}

#lista_nav li {
  /* color: var(--var-cor-primaria); */
  color: var(--var-cor-terciaria);
}


aside{
  width: 19vw;
  height: 99vh;
  background: var(--var-cor-secundaria);
  margin: 2px;
  border-radius: 15px;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



#div_criar_chok{
  background-color: var(--var-cor-terciaria);
  color: var(--var-cor-secundaria);
  width: 60%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  border-radius: 20px 20px 20px 20px;
}

#div_criar_chok button{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: var(--var-cor-secundaria);
  margin: 10px;
}

#div_criar_chok .icone_lista{
  width: 30px;
  height: 30px;
  color: var(--var-cor-secundaria);
}



#div_popup{
  display: none;
  position: fixed;
  height: 90vh;
  width: 50vw;
}

#div_popup h1{
  color: var(--var-cor-terciaria);

}

#div_popup p{
  color: var(--var-cor-terciaria);
  opacity: 60%;
  font-weight: 500;
  
}

.div_corpo_popup{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0 0 15px 15px;
  background-color: var(--var-cor-secundaria);
}

.div_corpo_popup textarea{
  margin: 10px;
  padding: 5px;
  color: var(--var-cor-terciaria);
  font-size: 1.2rem;
  font-weight: 400;
  background: none;
  border: solid 2px rgba(0, 0, 0, 0.59);
  border-radius: 10px;
  width: 97%;
  height: 200px;
  resize: none;
}

.div_corpo_popup textarea:focus{

  border: none;
  outline: var(--var-cor-primaria);
  box-shadow: 0px 0px 2px 1px var(--var-cor-primaria);
}



.blur {
  filter: blur(2px);
  filter: brightness(50%);
  transition: 0.2s ease-in;
}